	.paginator_root {
		position:relative;
		height:25px;
	}
	.paginator_b {
		float:left;
		width:30px;
		height:20px;
		background-color:#BCF2D5;
		text-align:center;
		margin:0 2px 0 2px;
	}
	.paginator_b:hover {
		background-color:#8CF3BC;
	}
	.paginator_bmax {
		float:left;
		width:30px;
		height:20px;
		background-color:#5FAABC;
		cursor:pointer;
		text-align:center;
	}
	/* must set border width with px */
	.paginator_p {
		text-align:center;
		float:left;
		height:20px;
		cursor:pointer;
		color:white;
		background-color:#B7B7B7;
	}
	.paginator_p.hover {
		background-color:#8B8B8B;
	}
	.paginator_p.selected {
		background-color:#CAFF3A;
		color:white;
		background-color:black;
	}
	.paginator_p_wrap {
		position:relative;
		overflow:hidden;
		float:left;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-o-user-select: none;
		user-select: none;
	} 
	.paginator_p_bloc {
		position:relative;overflow:hidden;
		width:3000px;
	}
	.paginator_slider {
		height: 4px;
		top:0px;
		margin:0 0 0 60px;
		background: #BBBBBB;
		position: relative;
		background: white;
		border: solid 1px black;
	}

	.paginator_slider .ui-slider-handle {
		width: 8px;
		height: 12px;
		position: absolute;
		top: -4px;
		background-color:black;
	}